@media only screen and (max-width: 980px) {
    .main-section {
        background-size: 150% 100%;
    }

    .par-text {
        width: 90%; 
    }

    .login-btn {
        width: 50%;
    }

    .main-buttons {
        gap: 10px;
        flex-direction: column; 
    }

    .btn-center {
        width: 100px;
        font-size: small;
        margin: 20px;
        padding: 5px;
    }

    .abt-container {
        width: 80%; 
        padding: 10px;
        margin: 20px auto;
        font-size: smaller;
    }

    .contact-container h1 {
        font-size: 1rem;
    }
}


@media only screen and (max-width: 600px) {
    .main-section {
        height: auto; 
        background-size: cover;
    }

    .par-text {
        width: 100%; 
        font-size: larger; 
    }

    .login-btn {
        width: 80%; 
        font-size: medium;
    }

    .main-buttons {
        gap: 5px;
    }

    .btn-center {
        width: 80px; 
        font-size: small;
        margin: 10px;
    }

    .abt-container {
        width: 90%;
        padding: 5px;
        margin: 10px auto; 
        font-size: smaller;
    }

    .contact-container h1 {
        font-size: 0.5rem; 
        margin-top: 20px;
    }

.contact-container img {
    width: 80%;
}



}







