@media only screen and (max-width: 980px){
    .main-section{
        background-size: 150% 100%;
    }
    .par-text {
        width: 100%;
    }


.login-btn{
    width: 50%;
}
.main-buttons{
    gap: 10px;
}
.btn-center{
    width: 100px;
    font-size: small;
    margin: 20px;
    padding: 5px;
}


}